/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.3rem;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #d01bb5;
  border-radius: 25px;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d01bb5b1;
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  
}



.overflower {
  overflow: hidden;
}

button {
  background-color: transparent;
  border: none;
}

.hamburger-closer img {
  width: 3rem;
}

.hamburger-menu {
  display: none;
  height: 100vh;
  background-color: black;

  ul {
    padding-left: 0;
    text-align: center;
    display: grid;
    justify-content: center;
    li {
      list-style: none;
      a {
        font-family: "Lalezar";
        text-decoration: none;
        color: white;
        font-size: 3rem;

        text-decoration: underline 5px solid #d01bb5;
      }
    }
  }

  .flag {
    filter: opacity(20%);
    width: 20rem;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    margin: 0 auto;
  }
}

.activator {
  display: block;
  animation: fadeInLeft 0.5s forwards;
}

.deleter {
  display: none;
}

.hamburger-opener {
  position: relative;
  animation: fadeInDown 1s ease forwards;
}

/* HOMEPAGINA */

.start-page {
  
  position: relative;
  width: 100%;
  background-image: url(../images/©Hellofoto_IBNL_5_381_44.jpg);
  background-size: 550%;

  background-position: 60% 100%;
  background-repeat: no-repeat;
  height: 100vh;

  ul {
    animation: fadeInDown 1s ease forwards;
    display: none;
    & li a {
      font-family: "Lalezar";
      color: white;
      text-decoration: none;
    }
  }

  .logo img {
    width: 3rem;
  }

  .title {
    position: relative;
    padding-left: 1rem;
    padding-top: 50%;

    h1 {
      font-family: "Lalezar";
      animation: fadeInLeft 0.8s ease forwards;
      font-size: 3rem;
      width: 14rem;
      margin-bottom: 0;
      margin-top: 0;
      line-height: 1;
      letter-spacing: 0.1rem;
      font-weight: 200;

      border-bottom: 0.5rem solid transparent;
      border-image: url(../images/linebar.png) 55 round;
      border-width: 0.24rem;
    }
    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;

    }
    p {
      font-family: "ABeeZee";
      font-size: 0.8rem;
    }
    img {
      width: 1rem;
    }
  }
}

.start-page::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ABOUT GRIFFIN */

.about-container {
  margin-top: 1rem;
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;

  h2 {
    font-family: "Lalezar";
    font-weight: 200;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 10rem;

    border-bottom: 0.5rem solid transparent;
    border-image: url(../images/linebar.png) 55 round;
    border-width: 0.24rem;
  }

  p {
    font-family: "ABeeZee";
    font-size: 0.6rem;
    width: 75%;
    line-height: 1rem;
    padding-left: 1rem;
  }

  img {
    filter: brightness(65%);
    width: 9rem;
    margin: 1rem 1rem 0 0;
  }
}

.image-border {
  position: relative;
}

.image-border::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: -0.8rem;
  right: 1.5rem;
  bottom: 1rem;
  border: 3px solid #d01bb5;
}

/* CAREER */

.racecar {
  position: absolute;
  z-index: 10;
  top: 36%;
  width: 15rem;

}

.my-career-title {
  margin-right: auto;
  font-family: "Lalezar";
  font-weight: 400;
  margin-left: auto;
  text-align: center;
  width: 10rem;

  border-bottom: 0.5rem solid transparent;
  border-image: url(../images/linebar.png) 55 round;
  border-width: 0.24rem;
}

.career-container {
  margin-bottom: 5rem;


}

.career-div {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 15rem;
  img {
    width: 15rem;
    filter: brightness(65%);
  }
}

.career-div::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
  right: -1rem;
  z-index: -1;
  border: 3px solid #d01bb5;
}

.partner-title {
  font-family: "Lalezar";
  font-weight: 400;
  text-align: center;
  width: 11rem;
  margin-left: auto;
  margin-right: auto;

  border-bottom: 0.5rem solid transparent;
  border-image: url(../images/linebar.png) 55 round;
}

.partner-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.partner-container img {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.black-logo {
  background-color: white;
}


/* FOOTER */


footer {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  height: 10rem;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    font-family: "Lalezar";
    font-weight: 400;
  }
  
  a {
    font-family: "ABeeZee";
    color: rgb(79, 78, 78);
  }

  img {
    width: 2rem;
  
  }
}

.tel,
.gmail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.gmail {
  margin-bottom: 0;
}


.socials-container {
  padding-top: 1rem;
  background-color: white;
  text-align: center;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 1rem;
  }

  .copyright {
    color: black;
    font-size: 0.8rem;
    opacity: 0.8;
    font-family: "ABeeZee";
  }
}

.creds  {
  font-family: "ABeeZee";
  font-size: 0.8rem;
}





/* QUERYSELECTORS HOMEPAGE STARTPAGINA */

@media (min-width: 25rem) {
  .start-page {
    background-position: 60% 80%;

    .title {
      position: absolute;
      padding-top: 0;
      top: 30%;
      left: 1rem;

      h1 {
        width: 13rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 32rem) {
  .start-page {
    background-position: 60% 65%;

    .title {
      position: absolute;
      padding-top: 0;
      top: 30%;
      left: 2rem;
      h1 {
        width: 14rem;
      }
      


    }
  }
}

@media (min-width: 47rem) {
  .start-page {
    background-position: 60% 60%;
  }

  .start-page .title {
    margin-left: 2rem;
    padding-top: 0;
    top: 40%;
    position: absolute;

    h1 {
      width: 15rem;
    }
  }
}

@media (min-width: 55rem) {
  .hamburger-opener {
    display: none;
  }

  .start-page {
    background-size: 300%;
    background-position: 60% 55%;

    .title {
      top: 45%;
      margin-left: 6rem;

      h1 {
        width: 23rem;
        font-size: 5rem;
      }
    }

    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: center;
      list-style: none;

      li a {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 67rem) {
  .start-page {
    background-size: 350%;
    background-position: 60% 55%;

    .title p {

        font-size: 1.4rem;

    }

    .title h1 {
      font-size: 7rem;

      width: 30rem;
      border-width: 0.5rem;
    }

    ul li a {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 100rem) {
  .start-page {
    background-size: 300%;
    background-position: 60% 55%;

    .title {
      top: 45%;
      left: 6rem;

      h1 {
        font-size: 7rem;

        width: 30rem;
        border-width: 0.5rem;
      }
    }
  }
}

@media (min-width: 115rem) {
  .start-page {
    background-size: 250%;
    background-position: 60% 55%;

    .title {
      top: 45%;
      margin-left: 6rem;

      h1 {
        font-size: 8rem;
        font-weight: 500;
      }
    }
  }
}

/* mediaq about */

@media (min-width: 25rem) {
  .about-container {
    div {
      margin-left: 1rem;
      margin-bottom: 5rem;

      p {
        font-size: 0.8rem;
        width: 90%;
      }
    }
  }
}

@media (min-width: 32rem) {
  .about-container {
    div {
      margin-left: 3rem;
    }
  }
}

@media (min-width: 37rem) {
  .about-container {
    div {
      font-size: 1.3rem;
      line-height: 1;
      margin-left: 6rem;

      & h2 {
        width: 13.5rem;
      }

      p {
        font-size: 0.8rem;
        width: 95%;
      }
    }
  }
}

@media (min-width: 47rem) {
  .image-border {
    margin-right: 2rem;
  }
}

@media (min-width: 55rem) {
  .image-border {
    width: 50rem;
    height: 19rem;

    &::after {
      top: 1remrem;
      left: -1rem;
      right: 1rem;
      bottom: 0.8rem;
      border: 3px solid #d01bb5;
    }

    img {
      width: 100%;
      height: 95%;
      object-fit: cover;
    }


  }

  .about-container {
    div {
      font-size: 1.5rem;
      line-height: 1;
      margin-left: 8rem;
      margin-bottom: 18rem;

      & h2 {
        width: 16rem;
      }

      p {
        font-size: 0.8rem;
        width: 70%;
      }
    }
  }
}

@media (min-width: 67rem) {
  .about-container {
    div p {
      font-size:1.1rem;
      line-height: 1.5rem;
    }
  .image-border {
    width: 60rem;
    height: 25rem;
    margin-right: 10%;

    &::after {
      top: 1remrem;
      left: -1rem;
      right: 1.8rem;
      bottom: 0.8rem;
      border: 3px solid #d01bb5;
    }
    img {
      width: 95%;
      height: 95%;
      object-fit: cover;
    }
  }
}

@media (min-width: 77rem) {



  .about-container {
    margin-bottom: 5rem;
    div p {
      font-size:1.1rem;
      line-height: 1.5rem;
    }
    .image-border {
      width: 70rem;
      height: 30rem;

   
    }
  }

  .image-border {
    width: 30rem;
    height: 40rem;

    &::after {
      top: 2rem;
      left: -1.5rem;
      right: 2.5rem;
      bottom: 2rem;
      border: 5px solid #d01bb5;
    }

    img {
      width: 95%;
      height: 95%;
      object-fit: cover;
    }
  }
}

@media (min-width: 100rem) {

  .about-container {
    margin-bottom: 35rem;

    .image-border {
      width: 70rem;
      height: 40rem;

   
    }
    .image-border::after {
      bottom: 2rem;
      right: 3rem;
      left: -3rem;
    }
  }


}

@media (min-width: 115rem) {
}

/* MEDIAQ CAREER */

@media (min-width: 55rem) {

  .my-career-title {
    margin-right: 2rem;
    text-align: right;
  }

  .career-div {
    margin-bottom: 10rem;
    width: 20rem;



    img {
      width: 100%;
    }
  }

  .left {
    margin-left: 2rem;
  }
  .right {
    margin-right: 2rem;

    &::after {

      top: -1rem;
      left: -1rem;
      bottom: 1rem;
      right: 1rem;


  }
  }
}

@media (min-width: 67rem) {
  .my-career-title {
    margin-right: 8rem;
  }
  .left {
    margin-left: 8rem;


  }
      .right {
    margin-right: 8rem;


}
}



@media (min-width: 67rem) {
  .my-career-title {
      margin-right: 10rem;
    }
    .right {
  margin-right: 10rem;
  width: 30rem;
  
  }

  .left {
    width: 30rem;
    margin-left: 10rem;
  }
  }


@media (min-width: 100rem) {
}

@media (min-width: 115rem) {
}



/* MEDIAQ PARTNERS */
@media(min-width: 55rem) {
  .partner-container {
    margin-top: 5rem;
    margin-bottom: 10rem;
    flex-direction: row;
  }
}




/* MEDIAQ RACECARBACKGROUND */

@media(min-width: 25rem) {
  .racecar {
    left: 1rem;
  
  }
}

@media(min-width: 32rem) {
  .racecar {
    left: 3rem;
    width: 17rem;
    top: 33%;
  
  }
}

@media(min-width: 37rem) {
  .racecar {
    left: 6rem;
  
  }
}

@media(min-width: 47rem) {
  .racecar {
    left: 6rem;
  
  }
}

@media(min-width: 55rem) {
  .racecar {
    left: 6rem;
    top: 31%;
    width: 30rem;
  
  }
}

@media(min-width: 77rem) {
  .racecar {
    left: 6rem;
    top: 30%;
    width: 40rem;
  
  }
}


@media(min-width: 100rem) {
  .racecar {
    left: 6rem;
    width: 60rem;
    top: 29%;
  
  }
}
