
body {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Lalezar';
}

.overflower {
  overflow: hidden;
}

button {
  background-color: transparent;
  border: none;
}

.hamburger-closer img {
  width: 3rem;
}

.hamburger-menu {
  display: none;
  height: 100vh;
  background-color: black;

  ul {
    padding-left: 0;
    text-align: center;
    display: grid;
    justify-content: center;
    li {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      font-size: 3rem;
      
      text-decoration: underline 5px solid #D01BB5;

    }
  }


  } 

  

  .flag {
    filter: opacity(20%);
    width: 20rem;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    margin: 0 auto;
  }
}

.activator {
  display: block;
}

.deleter {
  display: none;
}

.start-page {
  width: 100vw;
 background-image: url(../images/©Hellofoto_IBNL_5_381_44.jpg);
  background-size: 550%;

  background-position: 60% 100%;
  background-repeat: no-repeat;
  height: 100vh;




  ul {

    display: none;
    & li a {
      color: white;
      text-decoration: none;
    }
  }


  .logo img {
    width: 3rem;
  }


  .title {

    padding-left: 1rem;
    padding-top: 50%;

    h1 {
      width: 10rem;
      margin-bottom: 0;
      margin-top: 0;
      line-height: 1;
      letter-spacing: 0.1rem;
      font-weight: 200;

      border-bottom: 0.5rem solid transparent;
      border-image: url(../images/linebar.png) 55 round;
      border-width: 0.24rem;
    }
    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    img {
      width: 1rem;
    }
  }
}






/* ABOUT GRIFFIN */

.about-container {
  display: flex;
}